<form class="main-form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input [formControl]="formControls.startedAtDateLocal" matInput [matDatepicker]="startedAtPicker"
      [required]="formControls.startedAtDateLocal.errors?.required" [min]="dateLimits.startDateMin"
      [max]="dateLimits.startDateMax" [attr.aria-label]="ariaLabelStartDate">
    <mat-datepicker-toggle matSuffix [for]="startedAtPicker">
    </mat-datepicker-toggle>
    <mat-datepicker #startedAtPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input [formControl]="formControls.startedAtTimeLocal" matInput type="time"
      placeholder="Enter time of day to start the request" [required]="formControls.startedAtTimeLocal.errors?.required"
      [attr.aria-label]="ariaLabelStartTime">
  </mat-form-field>
</form>
<div>{{formControls?.startedAtLocal.value}}</div>
