<form class="main-form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>{{labelDate}}</mat-label>
    <input [formControl]="formControls.dateLocal" matInput [matDatepicker]="datePicker" [min]="dateLimits.dateMin"
      [max]="dateLimits.dateMax" [attr.aria-label]="ariaLabelDate" [disabled]="disabled">
    <mat-datepicker-toggle matSuffix [for]="datePicker">
    </mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{labelTime}}</mat-label>
    <input [formControl]="formControls.timeLocal" matInput type="time" [readonly]="disabled" [attr.aria-label]="ariaLabelTime">
  </mat-form-field>
</form>
<div>{{formControls?.dateTimeLocal.value}}</div>
