<div class="container">
  <h1>Moment Demo</h1>
  <div class="grid-2-column">
    <div>momentString</div>
    <div>{{momentString}}</div>

    <div>momentLocalString </div>
    <div>{{momentLocalString}}</div>

    <div>momentUtcString</div>
    <div>{{momentUtcString}}</div>

    <div>momentUtcLocalString</div>
    <div>{{momentUtcLocalString}}</div>
  </div>

  <h1>Moment Demo</h1>
  <div class="grid-3-column">
    <div>A</div>
    <div>momentString</div>
    <div>{{momentString}}</div>

    <div>B</div>
    <div>momentLocalString </div>
    <div>{{momentLocalString}}</div>

    <div>C</div>
    <div>momentUtcString</div>
    <div>{{momentUtcString}}</div>

    <div>D</div>
    <div>momentUtcLocalString</div>
    <div>{{momentUtcLocalString}}</div>
  </div>
</div>
