<div class='container'>
  <h1>
    ngxMatDatetimePicker
  </h1>
  <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker"
                    placeholder="Choose a date"
                    [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker">
    </mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker
      [showSpinners]="true"
      [showSeconds]="false"
      [stepHour]="1"
      [stepMinute]="1"
      [stepSecond]="1"
      [touchUi]="false"
      [color]="'primary'">
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <div>
    {{localTime}}
  </div>

  <h1>
    matDatepicker
  </h1>

  <mat-form-field>
    <input matInput [matDatepicker]="picker1"
                    placeholder="Choose a date"
                    [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker1">
    </mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <div>
    {{localTime}}
  </div>


</div>
