<h1>date-time-picker-test works!</h1>
<date-time-picker
[allowBreak]="true"
[labelDate]="null"
[labelTime]="null"
[ariaLabelDate]="null"
[ariaLabelTime]="null"
[disabled]="false"
(dateTimeChange)="dateTimeChange($event)"
[formControl]="currentDateCtrl">
</date-time-picker>
{{currentDateValue}}

<h1>date-time-picker-test works!</h1>
<date-time-picker
[allowBreak]="false"
[labelDate]="null"
[labelTime]="null"
[ariaLabelDate]="null"
[ariaLabelTime]="null"
[disabled]="false"
(dateTimeChange)="dateTimeChange($event)"
[formControl]="currentDateCtrl">
</date-time-picker>
{{currentDateValue}}

