$color-light-blue1: #005399;
$color-light-blue2: #005aa3;
$color-light-blue3: #295a8a;
$color-light-blue4: #0059a8;
$color-light-blue5: #166079;
$color-light-grey1: #595959;
$color-light-grey2: #575757;
$color-light-grey3: #006061;
$color-light-grey4: #545454;
$color-dark-grey1: #555555;
$color-dark-grey2: #4f4f4f;
$color-light-green1: #27633e;
$color-light-green2: #008040;
$color-light-green3: #51A351;
$color-light-red1: #a9220f;
$color-light-red2: #d91e18;
$color-light-red3: #ff0000;
$color-light-yellow: #784d02;
$color-light-orange: #ff7612;
$color-yeti-text: #222222;
$color-error-pink-background: #fde7e9;

$color-off-white: #f8f8f8;

$color-error: #d5190b;
$color-warning: #ffc600;
$color-warning-text: #7e4900;
$color-success: #408340;
$color-disabled-grey: #eeeeee;
