<p>material-icons works!</p>

<div>
  <span class="material-icons-outlined">
    security
  </span>
</div>
<div>
  <span class="material-icons-outlined">
    shield
  </span>
</div>

<div>
  <span>
    &#34c;
  </span>

</div>

<div>
  <span>
    &#379;
  </span>

</div>

<div>
  <span>
    &#x34c;
  </span>

</div>
<div>
  <span>
    &#x379;
  </span>

</div>

<div>
  <span>
    &#9651;
  </span>
</div>

<div>
  <span>
    &#x25B3;
  </span>
</div>

<div>
  <span class="shield">
    &#xe83d;
  </span>
</div>



